# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================
Genai_env/
venv/
.venv/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/
*.ipynb

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Generated Data (DO NOT PUSH)
# ==========================================
app/chroma_db/
app/topic_output/
app/checkpoint_output/
app/embeddings_output/

# ==========================================
# Raw Dataset
# ==========================================
app/conversations.xlsx

# ==========================================
# Python Cache
# ==========================================
app/__pycache__/